/* ***************
 * CUSTOM PROPERTIES
 * *************** */

:root {
    --font-familiy: arial, sans-serif;
    --main-text-color: #222;
    --main-font-size: 14px;
    --header-font-size: 14px;
    --footer-background-color: #f2f2f2;
    --footer-language-font-size: 15px;
    --footer-menu-font-size: 14px;
    --footer-text-color: #70757a;
}

@media (max-width: 480px) {
    :root {
        --font-familiy: Roboto, HelveticaNeue, arial, sans-serif;
        --main-text-color: #222;
        --footer-background-color: #f2f2f2;
        --main-font-size: 14px;
        --header-font-size: 12px;
        --footer-language-font-size: 16px;
        --footer-menu-font-size: 13px;
    }
}

/* ***************
 * GENERAL
 * *************** */

body {
    font-family: arial, sans-serif;
    font-size: var(--main-font-size);
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ***************
 * HEADER
 * *************** */

.header-row {
    display: flex;
    justify-content: space-between;
    padding: 15px 11px 15px 21px;
    font-size: var(--header-font-size);
}

.header-row-mobile__left {
    display: none;
}

.header-row-mobile__left__images {
    text-transform: uppercase;
    margin: 0px 8px 8px 8px;
    padding: 8px 0px 8px 0px;
    font-weight: 600;
    color: #70757a;
    font-size: var(--header-font-size);
}

.header-row-mobile__left__all {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
    text-transform: uppercase;
    margin: 0px 8px 8px 8px;
    padding: 8px;
    font-weight: 600;
    font-size: var(--header-font-size);
}

.header-row-mobile__left__hamburger {
    margin: 0px 15px 0px 0px;
}

.header-row__left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.header-row__left__about {
    padding: 5px;
}

.header-row__left__store {
    padding: 5px;
}

.header-row__right {
    display: flex;
    justify-content: center;
    padding: 5px 15px 0px 0px;
}

.header-row__right div {
    padding: 0px 15px 0px 5px;
}

.header-row__right a {
    text-decoration: none;
    color: var(--main-text-color);
}

.header-row__right a:hover {
    cursor: pointer;
}

.header-row__right img {
    border-radius: 50%;
}

.header-row__right__gmail,
.header-row__right__images,
.header-row__right__launcher,
.header-row__right__profilepicture
 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-row__right__launcher svg {
    color: #5f6368;
    fill: currentColor;
    height: 24px;
    width: 24px;;
}

@media (max-width: 480px) {
    .header-row__left,
    .header-row__right__gmail,
    .header-row__right__images {
        display: none;
    }

    .header-row-mobile__left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-row-right {
        padding: 0px 5px 0px 0px;
    }

    .header-row__right div {
        padding: 0px 0px 0px 15px;
    }
}

/* ***************
 * MAIN
 * *************** */

.main-row {
    margin-bottom: 15%;
}

.main-row__logo img {
    height: 92px;
    width: 272px;
}

.main-row__logo {
    display: flex;
    justify-content: center;
}

.main-row-mobile__logo {
    display: none;
}

.main-row__form {
    display: block;
    justify-content: center;
}

.main-row__form form {
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
    width: auto;
}

.main-row__form__input {
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 14px 0px 14px;
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center; /* horizontally center items */
    align-items: center; /* vertically center items */
}

.main-row__form__input:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.main-row__form__input input {
    margin: 0px 13px 0px 13px;
    outline: none;
}

.main-row__form__input svg {
    width: 24px;
}

.main-row__form__buttons {
    display: flex;
    justify-content: center;
}

.main-row__form__buttons input {
    margin: 5px;
}

.main-row__form__input__magnifier,
.main-row__form__input__mic {
    height: 44px;
    display: flex;
    fill: #9aa0a6;
}

.main-row__form__input__field {
    flex: 1;
    display: flex;
    outline: none;
}

.main-row__form__input__field {
    flex: 1;
    display: flex;
    outline: none;
}

.main-row__form__input__field input {
    border-style: none;
    width: 100%;
}

.main-row__form__buttons input {
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    
    border-radius: 4px;
    color: #3c4043;
    height: 36px;
    padding: 0 16px;
    margin: 21px 4px;
}

.main-row__form__buttons input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.main-row__form__buttons input:hover {
    box-shadow: 1px 1px rgb(0 0 0 / 10%)
}

@media (max-width: 480px) {
    .main-row__logo 
    {
        display: none;
    }

    .main-row-mobile__logo 
    {
        width: 160px;
        display: block;
        margin: auto;
    }

    .main-row-mobile__logo img
    {
        width: 160px;
    }

    .main-row__form__input__mic {
        display: none;
    }
}

/* ***************
 * FOOTER
 * *************** */

.footer-row {
    background-color: #f2f2f2;
    color: var(--footer-text-color);
}

.footer-row__language {
    display: flex;
    padding: 15px 30px 15px 45px;
    border-bottom: 1px solid #dadce0;
    font-size: var(--footer-language-font-size);
}

.footer-row__menu {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 5px 40px;
    font-size: var(--footer-menu-font-size);
    flex-wrap: wrap;
}

.footer-row__menu__left {
    display: flex;
}

.footer-row__menu__right {
    display: flex;
}

.footer-row__menu span {
    padding: 15px 5px 15px 5px;
}

.footer-row__menu__left span:nth-child(4) {
    display: none;
}

@media (max-width: 480px) {
    .footer-row__menu {
        display: flex;
        justify-content: center;
    }

    .footer-row__menu__left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer-row__menu__right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer-row__language {
        padding: 15px 30px 15px 21px;
    }

    /* Hide 'How Search works' */
    .footer-row__menu__left span:nth-child(3) {
        display: none;
    }

    /* Show 'About' instead */
    .footer-row__menu__left span:nth-child(4) {
        display: inline;
    }
}